* {
  font-family: "Inter", sans-serif;
}

.active {
  background-color: #15803d;
  color: white;
}

.cart-item {
  background-color: #e0f2fe;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 10px;
  
}
